<div class="container-fluid">
    <div class="row">
      <div>
      <div class="col-md-4">
  <img src="../../assets/Images/Lighthouse.jpg" class="img-circle" width="304" height="236">
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid sit nostrum magni nobis eum 
  quod? Aperiam iusto officia sapiente voluptatum, assumenda maxime tempore quam hic soluta, 
  veniam quia ad dicta?</p>
</div>
<div class="col-md-4">
    <img src="../../assets/Images/colors.png" class="img-thumbnail" width="304" height="236">
   <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem recusandae modi voluptas ea. 
    Officiis perspiciatis non facilis, exercitationem reiciendis porro nostrum tempora ducimus 
    doloremque, sequi ipsam blanditiis error, quam dignissimos.</p>
  </div>
  <div class="col-md-4">
      <img src="../../assets/Images/Freesample.svg"  class="img-rounded" width="304" height="236">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam recusandae iste rem quidem 
      nihil quae obcaecati ex laboriosam, autem explicabo maxime saepe corporis perferendis provident
       vero nisi exercitationem fuga!</p>
</div>
</div>
</div>
