
  <h2>
    Contact</h2>
  <div class="col-md-4">
  <ul  class="list-unstyled">
    <li class="bold"><a href="#" >Contact</a></li>
    <li><a href="#" >Contact1</a></li>
    <li><a href="#" >Contact2</a></li>
    <li><a href="#" >Contact3</a></li>
  </ul></div>
<div class="col-md-4">
  <ul  class="list-unstyled">
      <li class="bold"><a href="#" >Services</a></li>
      <li ><a href="#" >Service1</a></li>
      <li ><a href="#" >Service2</a></li>
      <li ><a href="#" >Service3</a></li>
    </ul></div>
    <div class="col-md-4">
      <ul  class="list-unstyled">
        <li class="bold"><a href="#" >Information</a></li>
        <li ><a href="#" >Info1</a></li>
        <li ><a href="#" >Info2</a></li>
        <li ><a href="#" >Info3</a></li>
      </ul></div>

