<h1>Services</h1>
<br>
<br>
<div class="container-fluid">
    <div class="row">
      <div>
      <div class="col-md-4">
  <img src="../../assets/Images/mob1.jpg" class="img-circle" width="304" height="236">
<h1>Mobile Development</h1>
</div>
<div class="col-md-4">
    <img src="../../assets/Images/web.png" class="img-circle" width="304" height="236">
<h1>Web Development</h1>
  </div>
  <div class="col-md-4">
      <img src="../../assets/Images/automation.png"  class="img-circle" width="304" height="236">
   <h1>Automation</h1>
</div>
</div>
</div>
